@charset "UTF-8";
/*@mixin mixin-name {
  css-property: value;
}*/
/*.fas{
        top: 0;
        left: 0;
        padding: 5px;
        font-size: $texte-zoom-2;
        background: -webkit-linear-gradient(
            0.5turn, 
            $couleur-primaire,
            $couleur-secondaire
        );
        background-repeat: no-repeat;
        background-size: 105%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        cursor: pointer;
    &:hover{
            animation: flash 1s ease-in-out infinite;
            animation-fill-mode: forwards;
    }
}*/
a {
  text-decoration: none;
}

a, p {
  font-size: 16px;
}

.erreur {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: black;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5px;
  padding: auto;
}

@keyframes loading-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes translationy {
  from {
    transform: translatey(999px);
  }
  to {
    transform: translatey(0);
  }
}
@keyframes progressive {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes -progressive {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes flash {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
body {
  max-width: 1440px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  background-color: #F3E9F1;
}
header nav {
  display: flex;
}
header nav ul {
  display: flex;
  margin: 0;
}
header nav ul li {
  list-style-type: none;
  width: 250px;
}
header nav ul li a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background-color: transparent;
  padding: 30px;
  color: initial;
  text-decoration: none;
}
header nav ul li a .fas {
  font-size: 120%;
}

.logo_orinoco {
  overflow: hidden;
  display: flex;
  height: 100px;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 30px 0 30px;
  background-color: #F3E9F1;
}

.produit {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  background-color: #F2F2F2;
  border-radius: 20px;
  margin: 1%;
  padding-bottom: 15px;
}
.produit__titres {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: black;
  font-weight: bold;
}
.produit__titres p {
  font-size: 200%;
}
.produit__liste {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-evenly;
  padding: 0;
}
.produit__liste__element {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 30%;
  background-color: #F3E9F1;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  margin: 5px;
  box-shadow: 5px 5px 5px #b8b8b8;
}
.produit__liste__element:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.produit__liste__element .block {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 5px;
}

.imageurl {
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  max-height: 200px;
}
.imageurl img {
  width: 100%;
}

.name {
  font-weight: bold;
  padding: 5px;
  color: black;
}

.price {
  padding: 5px;
  color: black;
}

.liste_choix {
  padding: 5px;
  color: black;
}

.description {
  padding: 5px;
  color: black;
}

#tableauxCommandeproduit {
  overflow: hidden;
  width: 90%;
  display: flex;
  flex-direction: column;
}
#tableauxCommandeproduit h3 {
  display: flex;
  justify-content: end;
}
#tableauxCommandeproduit .tabCommande thead {
  font-weight: bold;
  font-size: 16px;
}
#tableauxCommandeproduit .tabCommande tbody tr td div {
  overflow: hidden;
  height: 100px;
  border-radius: 20px;
}
#tableauxCommandeproduit .tabCommande tbody tr td div .imagPanier {
  width: 180px;
}
#tableauxCommandeproduit .tabCommande tbody tr .name {
  justify-content: center;
  text-align: center;
  width: 24%;
}
#tableauxCommandeproduit .tabCommande tbody tr .quantiter {
  justify-content: center;
  text-align: center;
  width: 24%;
}
#tableauxCommandeproduit .tabCommande tbody tr .prix {
  justify-content: center;
  text-align: center;
  width: 24%;
}

#formulaireContacte {
  display: flex;
  flex-direction: column;
}
#formulaireContacte #formulaire {
  display: flex;
  flex-direction: column;
}
#formulaireContacte #formulaire div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#formulaireContacte #formulaire div label {
  width: 59%;
}
#formulaireContacte #formulaire div input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 59%;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.detail__titres {
  margin: 0;
  padding: 0;
}
.detail .imageurl {
  width: 50%;
}
.detail .description {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  padding: 5px;
}
.detail .description p {
  margin: 5px;
  font-size: 16px;
}
@media screen and (max-width: 400px) {
  .detail .description {
    flex-direction: column;
  }
}
.detail .block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.detail .block .selecteur {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
  font-size: 16px;
}
.detail .block .selecteur select {
  margin-left: 5px;
  min-width: 100px;
  height: 25px;
  background-color: #e6e6e6;
  padding: 0;
}
.detail .block .selecteur select option {
  text-align: center;
}
@media screen and (max-width: 400px) {
  .detail .block .selecteur {
    flex-direction: column;
  }
  .detail .block .selecteur select {
    margin-left: auto;
    width: 100%;
  }
}
.detail .block div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
.detail .block div p {
  margin: 5px;
  font-size: 16px;
}
.detail .block1 {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.detail .block1 button {
  width: 200px;
  height: 50px;
  border-radius: 20px;
}

.confirmation {
  display: flex;
  justify-content: center;
}
.confirmation div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.confirmation div p {
  font-weight: bold;
  font-size: 16px;
}

.loading-spinner {
  color: official;
  display: flex;
  margin-top: 200px;
  position: absolute;
  width: 90%;
  justify-content: center;
}
.loading-spinner div {
  transform-origin: 100px 100px;
  opacity: 0;
  animation: loading-spinner 1s linear 5;
}
.loading-spinner div::after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 12px;
  height: 36px;
  border-radius: 20%;
  background-image: linear-gradient(#d88b43, #9e71fd);
}
.loading-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loading-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loading-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loading-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loading-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loading-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loading-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loading-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loading-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loading-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loading-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loading-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

/*# sourceMappingURL=style.css.map */
