<footer>
    <div class="row" style=" text-align: center">
        <div class="col-md-1">
            <img src="~/images/Logo/LOGO SOS-SENIORS saverio monferrato.jpg" height="50" />
        </div>
        <div class="col-md-2">
            <img src="~/images/Logo/logo-le-pari-solidaire-2-1920w.jpg" height="100" />
        </div>
        <div class="col-md-4">
            <img src="~/images/Logo/logo-cohabilis-cmjn-baseline_Plan-de-travail-1-1-1024x524-1920w.jpg" height="50" />
        </div>
        <div class="col-md-3" height="50px">
            <p>&copy; @DateTime.Now.Year - 1 toit 2 générations - Groupe SOS.</p>
        </div>
    </div>
</footer>