<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="site e-commerce, site web, site internet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	  <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/bdd1044ed8.js" crossorigin="anonymous"></script>
    <title>Orinoco</title>
    <meta name="description" content="Orinoco groupement de site e-commerce par theme -- description a modifier selont orientations du site--">
  </head>

  <body window.onload="initElement();">
    <header>
  <!--      En-tête     -->
      <form action="index.html">
        <button class="retourAcceuil" type="submit">
          <i class="fas fa-arrow-left"></i>
        </button>
      </form>
      <div class="logo_orinoco">
          <img src="../images/logo/logo_orinoco.png" alt="logo_orinoco">
      </div>
      <nav>
        <ul>
            <li><a id="panier" class="liens_nav_bar" href="panier.html"><i class="fas fa-shopping-cart"></i>Panier</a></li>
        </ul>
      </nav>
    </header>
    <main id="main">
    <!--      Confirmation de la commande     -->
    </main>
    <!--      Pieds page     -->
    <footer>
      <div class="logo_orinoco">
        <a href="index.html"><img src="../images/logo/logo_orinoco.png" alt="logo_orinoco"></a>
      </div>
    </footer>
    <script type="text/javascript" src="../js/detail.js"></script>
  </body>
</html>