<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="site e-commerce, site web, site internet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	  <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/bdd1044ed8.js" crossorigin="anonymous"></script>
    <title>Orinoco</title>
  </head>

  <body>
    <header>
  <!--      En-tête     -->
      <div class="logo_orinoco">
          <a href="index.html"><img src="../images/logo/logo_orinoco.png" alt="logo_orinoco"></a>
      </div>
      <nav>
        <ul>
            <li><a id="panier" class="liens_nav_bar" href="panier.html"><i class="fas fa-shopping-cart"></i>Panier</a></li>
        </ul>
      </nav>
    </header>
    <main id="main">
      <section id="tableauxCommandeproduit">
      </section>
      <!--            formulaire de contacte contacte           -->
      <section id="formulaireContacte">
          <h2>Formulaire à remplir pour valider votre commande.</h2>
          <div class="contacteElement">
            <div class="contacteElement__Block">
              <label class="contacteElement__labelNom">Nom</label>
              <input type="text" class="contacteElement__imput" id="inputNom" placeholder="Nom" required>
            </div>
            <div class="contacteElement__Block--prenom">
              <label class="contacteElement__labelPrenom">Prénom</label>
              <input type="text" class="contacteElement__imput" id="inputPrenom" placeholder="Prénom" required>
            </div>
            <div class="contacteElement__Block">
              <label class="contacteElement__labelEmail">Email</label>
              <input type="email" class="contacteElement__imput" id="inputEmail" placeholder="exemple@domaine.com" required>
            </div>
            <div class="contacteElement__Block">
              <label class="contacteElement__adresse">Adresse</label>
              <input type="text" class="contacteElement__imput" id="intputAddress"  placeholder="Numero, rue ..." required>
            </div>
            <div class="contacteElement__Block">
              <label class="contacteElement__labelCodePostal">Code Postal</label>
              <input type="text" class="contacteElement__imput" id="intputCodePostal" required>
            </div>
            <div class="contacteElement__Block">
              <label class="contacteElement__labelVille">Ville</label>
              <input type="text" class="contacteElement__imput" id="intputVille" placeholder="Ville"required>
            </div>
          </div>
          <button id="validation" type="submit">Envoyer</button>
      </section>
    </main>

    <footer>
      <div>
        <div class="logo_orinoco">
            <a href="index.html"><img src="../images/logo/logo_orinoco.png" alt="logo_orinoco"></a>
        </div>
        <div class="date">
            <p>&copy; @DateTime.Now.Year - Orinoco.</p>
        </div>
      </div>
    </footer>
      <script type="text/javascript" src="../js/panier.js"></script>
  </body>
</html>