<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="site e-commerce, site web, site internet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	  <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/bdd1044ed8.js" crossorigin="anonymous"></script>
    <title>Orinoco</title>
  </head>

  <body>
    <header>
  <!--      En-tête     -->
      <div class="logo_orinoco">
          <a href="index.html"><img src="../images/logo/logo_orinoco.png" alt="logo_orinoco"></a>
      </div>
      <nav>
        <ul>
            <li><a id="panier" class="liens_nav_bar" href="panier.html"><i class="fas fa-shopping-cart"></i>Panier</a></li>
        </ul>
      </nav>
    </header>
    <main id="main">
      <section id="titres_pages">
      </section>
      <section id="tableauxCommandeproduit">
      </section>
      <!--            formulaire de contacte contacte           -->
      <section id="formulaireContacte">
        <h2>Completer le formulaire et valider votre commande</h2>
        <form id="formulaire" onsubmit="validCommande()">
          <div class="form-group">
            <label for="firstName">Prenom: </label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="prenom" pattern="[a-zA-Z]{1,20}" title="1 à 20 lettres" required>
          </div>
          <div class="form-group">
            <label for="lastName">Nom : </label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="nom" pattern="[a-zA-Z]{1,20}" title="1 à 20 lettres" required>
          </div>
          <div class="form-group">
            <label for="address">Adresse:</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Votre adresse" pattern="[a-zA-Z0-9- -' ]{1,100}" title="1 à 100 lettres" required>
          </div>
          <div class="form-group">
            <label for="zip">Code postal:</label>
            <input type="text" class="form-control" id="zip" name="zip" placeholder="Code postal" pattern="[0-9]{5,5}" title="5 chiffres" required>
          </div>
          <div class="form-group">
            <label for="city">Ville:</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="city" pattern="[a-zA-Z -_]{1,20}" title="1 à 20 lettres" required>
          </div>
          <div class="form-group">
            <label for="email">e-mail : </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Votre e-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-secondary">Validée la commande</button>
          </div>
        </form>
      </section>
    </main>

    <footer>
      <div class="logo_orinoco">
        <a href="index.html"><img src="../images/logo/logo_orinoco.png" alt="logo_orinoco"></a>
      </div>
    </footer>
      <script type="text/javascript" src="../js/panier.js"></script>
  </body>
</html>