@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./components/icon";
@import "./base/base";
@import "./base/animation";
@import "./layouts/header.scss";
@import "./layouts/footer";
@import "./pages/index";
@import "./pages/panier.scss";
@import "./pages/detail.scss";
@import "./themes/loading-spinner";
