.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    &__titres {
            margin: 0;
            padding: 0;
    }
    & .imageurl{
        width: 50%;
    }
    & .description{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        padding: 5px;
        & p{
            margin: 5px;
            font-size: 16px;
        }
        @include min-mobile-only{
            flex-direction: column;
        }
    }
    & .block{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        & .selecteur{
            display: flex;
            justify-content: left;
            align-items: center;
            padding: 5px;
            font-size: 16px;
            & select{
                margin-left:5px ;
                min-width: 100px;
                height: 25px;
                background-color: darken(white,10%);
                padding: 0;
                & option{
                    text-align: center;
                }
            }
            @include min-mobile-only{
                flex-direction: column;
                & select{
                    margin-left: auto;
                    width: 100%;
                }
            }
        }
        & div{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 5px;
            & p{
                margin: 5px;
                font-size: 16px;
            }
        }
        
    }
    & button{
        width: 200px;
        height: 50px;
        border-radius: 20px;
    }
}